---
title: News
description: NeIC news
hidden: yes
---

<h1>News</h1>

{% include news_pagination.html %}

{% for post in paginator.posts %}

<div class="tileItem visualIEFloatFix">
  <a href="{{ post.url }}">
    <div class="tileImage">
      {% if post.image %}<img src="{{ post.image }}" width="96" class="tileImage">{% endif %}
    </div>
  </a>
  <h2 class="tileHeadline">
    <a href="{{ post.url }}" class="summary url">{{ post.title }}</a>
  </h2>
  <span class="documentByLine"></span>
  

  <p class="tileBody">
    <span class="newsdate">{{ post.date|date:"%-d %b %Y" }}</span><br/>
    <span class="description">{{ post.summary }}</span>
  </p>

  <p class="tileFooter">
    <a href="{{ post.url }}">
      <span class="hiddenStructure">{{ post.title }}</span>
      <span>Read More…</span>
    </a>
  </p>
  <div class="visualClear"><!-- --></div>
</div>

{% endfor %}

{% include news_pagination.html %}
